.home .container {
    background-color: transparent;
    max-width: 1460px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;    
} 

.home .container-title {
    max-width: 40%;
    font-size: 3rem;
    margin-bottom: 10rem;
    margin-top: 150px;
}

.home .container-description {
    max-width: 60%;
    line-height: 1rem;
    margin-bottom: 2rem;
}
