.home .container {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.home .title-container {
    max-width: 30rem;
    font-size: 4rem;
    margin-bottom: 10rem;
    margin-top: 150px;
    font-weight: bolder;
}

.home .container-description {
    max-width: 40rem;
    margin-bottom: 3.5rem;
}

.home .shake-text {
    display: inline-block;
}

.home .cards-container {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


@media screen and (max-width: 1024px) {
    .home .title-container {
        max-width: none;
        margin: auto;
        text-align: center;
        margin-top: 6rem;
        font-size: 3rem;
        word-break: break-word;
    }

    .home .container-description {
        margin-top: 24rem;
        max-width: none;
    }
}