.home .container {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.home .title-container {
    max-width: 40%;
    font-size: 4rem;
    margin-bottom: 10rem;
    margin-top: 150px;
    font-weight: bolder;
}

.home .container-description {
    max-width: 60%;
    margin-bottom: 3.5rem;
}

.home .shake-text {
    display: inline-block;
}

.home .cards-container {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}