.navigation-bar {
    margin-top: 15px;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.navigation-bar>div {
    flex: 0 0 30px;
}

.navigation-bar>div:first-child {
    margin-right: auto;
}

.navigation-bar a {
    color: #FFFFFF;
    text-decoration: none;
}

.navigation-bar__link {
    display: flex;
    align-items: center;
}

.navigation-bar__link img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}