.navigation-bar {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-bar a{
    color: white;
    text-decoration: none;
    flex-grow: 1;
}

.navigation-bar .home {
    flex-grow: 6;
}

.navigation-bar__link{
    display: flex;
    align-items: center;
}

.navigation-bar__link img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

