.main-layout {
    max-width: 1200px;
    margin: auto;
    position: relative;
    padding: 0;
}

.main-layout-container {
    position: relative;
}

.pixi-background {
    right: -300px;
    position: absolute;
}


body, html {
    margin:0;
    background-color: black /*#10101b;*/
}