.main-layout {
    max-width: 1200px;
    margin: auto;
    position: relative;
    padding: 0;
}

.main-layout-container {
    position: relative;
}

.pixi-background {
    width: 700px;
    height: 650px;
    right: 0;
    top: 20px;
    position: absolute;
    background-color: red;
}


body, html {
    margin:0;
    background-color: #10101b;
}