.main-layout {
    max-width: 1200px;
    margin: auto auto 50px;
    position: relative;
    padding: 0 50px;
}

.main-layout-container {
    position: relative;
}

.pixi-container {
    width: var(--background-width);
    height: 700px;
    right: -150px;
    position: absolute;
}

@media screen and (max-width: 1024px) {
    .main-layout {
        padding: 0 20px;
    }

    .pixi-container {
        /* Keeps banner at the center on mobile screens*/
        right: calc((var(--background-width) - 100vw)/(-2));
        top: 6rem;
    }
}