#root {
    color: white;
    font-family: 'Motomangucode', sans-serif;
    font-size: 1rem;
    overflow-x: hidden;
}

#clustrmaps-widget-v2 {
    display: none !important;
}


@font-face {
    font-family: "Motomangucode";
    src:
        local('Motomangucode'),
        url("fonts/MotomangucodeRegular-eZAmp.woff2") format('woff2'),
        url("fonts/MotomangucodeBold-4B0J4.woff2") format('woff2'),
        url("fonts/MotomangucodeBoldItalic-ow8Wx.woff2") format('woff2'),
        url("fonts/MotomangucodeItalic-0WXJd.woff2") format('woff2');
}

body,
html {
    margin: 0;
    background-color: black;
    /*#10101b;*/
    --background-width: 1400px;
}