#root {
    color: white;
    font-family: 'Motomangucode', sans-serif;
    font-size: 1rem;
    overflow-x: hidden;
}

#clustrmaps-widget-v2 {
    display: none !important;
}

/*
// TODO: delete code and font
@font-face {
    font-family: "raster-font";
    src: url("fonts/Web437_IBM_BIOS.woff") format('woff');
}
*/

@font-face {
    font-family: "Motomangucode";
    src:
        local('Motomangucode'),
        url("fonts/MotomangucodeRegular-eZAmp.woff2") format('woff2'),
        url("fonts/MotomangucodeBold-4B0J4.woff2") format('woff2'),
        url("fonts/MotomangucodeBoldItalic-ow8Wx.woff2") format('woff2'),
        url("fonts/MotomangucodeItalic-0WXJd.woff2") format('woff2');
}