#root {
    color: white;
    font-family: "raster-font";
    font-size: 0.75rem;
    line-height: 1.5;
    overflow-x: hidden;
}

#clustrmaps-widget-v2 {
    display: none !important;
}

@font-face {
    font-family: "raster-font";
    src: url("fonts/Web437_IBM_BIOS.woff") format('woff');
}